# Copyright © Unbroken AB
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
ColumnLimit: 190
UseTab: ForIndentation
ContinuationIndentWidth: 4
MalterlibRules: true
FixNamespaceComments: false
QualifierAlignment: Right
