/RepoLock.MRepoState
/Core
/Algorithm
/XML
/Atomic
/Bit
/BuildSystem
/Web
/Cloud
/CommandLine
/Compression
/Type
/Concurrency
/Container
/Contract
/Tools
/CrashReport
/Cryptography
/Database
/Daemon
/Debug
/Time
/Desktop
/Documentation
/Encoding
/Thread
/Exception
/File
/Graphics
/Function
/Test
/Instrumentation
/InterProcess
/Intrusive
/System
/Iterator
/Memory
/Log
/String
/Meta
/Mongo
/Stream
/Network
/Perforce
/Numeric
/Preprocessor
/Storage
/SQL
/Process
/Security
/STL
/Tool
/WebApp
